---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Rey — Home"
  description="Hi There."
>
  <p class="tagline">
    Hi There.
    <span class="tagline-icon-hand">👋</span>
  </p>

  <section class="grid">
    <section class="card">
      <p>
        My name is <strong>Reynaldi Wong</strong>. A Mechatronics Engineering graduate who, at one point in his life, found himself stepping into the world of DevOps. I mostly worked with <a href="https://kubernetes.io/" target="_blank" rel="noreferrer">Kubernetes</a>, <a href="https://www.docker.com/" target="_blank" rel="noreferrer">Docker</a>, and <a href="https://www.jenkins.io/" target="_blank" rel="noreferrer">Jenkins</a>. And been passionate about automating everything (Maybe because of my mechatronics background ¯\(・3・)/¯ ).
      </p>
      <p>
        Previously working on designing and provisioning a On-Prem Infrastructure for subsidiary of <a href="https://www.kalbe.co.id/" target="_blank" rel="noreferrer">Kalbe Company</a>. Then continuing my journey maintaining and developing cloud infrastructure and CI/CD pipelines of <a href="https://nobugo.nobubank.com/" target="_blank" rel="noreferrer">Nobu Bank</a>.
      </p>
    </section>

    <section class="card">
      <h2>Current Quest</h2>
      <ul>
        <li>Making the best script for CI/CD</li>
        <li>Learn more about DevOps and Cloud Native</li>
      </ul>
    </section>

    <section class="card">
      <h2>Let’s make some fun collaboration!</h2>
      <p>
        reynaldiwong@gmail.com<br />
        <a href="https://www.linkedin.com/in/reynaldi-wong-684353171/" target="_blank" rel="noreferrer">
          Linkedin
        </a>
        &nbsp;|&nbsp;
        <a href="https://github.com/ReynaldiWong" target="_blank" rel="noreferrer">
          Github
        </a>
      </p>
    </section>
  </section>
</BaseLayout>
